/target
/bin
**/*.rs.bk
**/*.log
/*.html
**/*.bin
**/*.iml
**/.idea
**/*.txt
**/*.zip
**/*.tar.gz
**/*.tar
**/*.gz
**/.DS_Store
**/*.env
**/*.data*
**/*.zst
**/*.out*
**/*.perf*
release
.vscode
TODO

!sample.env
!/docs
