**/target
/bin
**/*.rs.bk
**/*.log
/*.html
**/*.bin
**/*.iml
**/.idea
**/*.txt
**/*.zip
**/*.tar*
**/*.gz
**/.DS_Store
**/*.env
**/*.data*
**/*.zst
**/*.out*
**/*.perf*
**/*empty*
**/*.json
**/*.csv
/benches/Cargo.lock
release
.vscode
TODO
docs/site
docs/*/**.html
*/**/*.1
docs/docs
docker/devel/static-web-server

!/docs
!/tests/fixtures/**/*
!benchmark/sws_benchmarks*.csv
