[registries.crates-io]
protocol = "sparse"

# Statically link the C runtime on Windows MSVC,
# so that the resulting EXE doesn't depend on the VCRUNTIME140.dll.
[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
[target.aarch64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
[target.i686-pc-windows-msvc]
rustflags = ["-C", "link-arg=libvcruntime.lib"]

[build]
# Required for experimental features like `metrics` and others.
rustflags = ["--cfg", "tokio_unstable"]
rustdocflags = ["--cfg", "tokio_unstable"] 
