<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Index of <%= current_path %></title>
    <style>
      html{background-color:#fff;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;min-width:20rem;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%}:after,:before{box-sizing:border-box;}body{padding:1rem;font-family:Consolas,'Liberation Mono',Menlo,monospace;font-size:.75rem;max-width:70rem;margin:0 auto;color:#4a4a4a;font-weight:400;line-height:1.5}h1{margin:0;padding:0;font-size:1rem;line-height:1.25;margin-bottom:0.5rem;}table{width:100%;table-layout:fixed;border-spacing: 0;}hr{border-style: none;border-bottom: solid 1px gray;}table th,table td{padding:.15rem 0;white-space:nowrap;vertical-align:top}table th a,table td a{display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:95%;vertical-align:top;}table tr:hover td{background-color:#f5f5f5}footer{padding-top:0.5rem}table tr th{text-align:left;}@media (max-width:30rem){table th:first-child{width:20rem;}}
    </style>
  </head>
  <body>
    <h1>Index of <%= current_path %></h1>
    <p><small>directories: <%= dirs_count %>, files: <%= files_count %></small></p>
    <hr>
    <div style="overflow-x: auto;">
      <table>
        <thead>
          <tr>
            <th><a href="?sort=<%= sort_attrs.name %>">Name</a></th>
            <th style="width:10rem;"><a href="?sort=<%= sort_attrs.last_modified %>">Last modified</a></th>
            <th style="width:6rem;text-align:right;"><a href="?sort=<%= sort_attrs.size %>">Size</a></th>
          </tr>
        </thead>
        <% if base_path != "/" { %>
          <tr><td colspan="3"><a href="../">../</a></td></tr>
        <% } %>
        <% for entry in entries { %>
          <tr>
            <td>
              <a href="<%= entry.uri.as_ref().unwrap_or(&entry.name_encoded) %>">
                <%= entry.name %><% if entry.is_dir { %>/<% } %>
              </a>
            </td>
            <td>
              <%= entry.modified.map_or("-".into(), |local_dt| {
                local_dt.format(DATETIME_FORMAT_LOCAL).to_string()
              }) %>
            </td>
            <td align="right">
              <%=
                if entry.filesize == 0 {
                  "-".to_string()
                } else {
                  use humansize::FormatSize;
                  entry.filesize.format_size(humansize::DECIMAL)
                }
              %>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
    <hr>
    <footer><small>Powered by Static Web Server (SWS) / static-web-server.net</small></footer>
  </body>
</html>
