name: devel
on:
  pull_request:
  push:
    branches:
    - master
    - staging
    - trying
  schedule:
  - cron: '30 01 * * *' # Every day at 01:30 UTC

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    env:
      CARGO: cargo
      # When CARGO is set to CROSS, this is set to `--target matrix.target`
      TARGET_FLAGS: ""
      # When CARGO is set to CROSS, TARGET_DIR includes matrix.target
      TARGET_DIR: ./target
      # Emit backtraces on panics
      RUST_BACKTRACE: 1
      # Skip tests
      SKIP_TESTS: ""
    strategy:
      matrix:
        build:
          - pinned
          - stable
          - beta
          - linux-musl
          - linux-musl-arm64
          - linux-musl-i686
          - linux-gnu
          - linux-gnu-arm64
          - linux-gnu-i686
          - linux-arm-gnueabihf
          - macos
          - macos-arm64
          - windows-msvc
          - windows-msvc-i686
          - windows-pc-gnu
          # - windows-msvc-arm64
        include:
          # Specific Rust channels 
          - build: pinned
            os: ubuntu-20.04
            rust: 1.53.0
          - build: stable
            os: ubuntu-20.04
            rust: stable
          - build: beta
            os: ubuntu-20.04
            rust: beta
          # Our release builds are generated by a nightly compiler to take
          # advantage of the latest optimizations/compile time improvements.
          - build: linux-musl
            os: ubuntu-20.04
            rust: nightly
            target: x86_64-unknown-linux-musl
          - build: linux-musl-i686
            os: ubuntu-20.04
            rust: nightly
            target: i686-unknown-linux-musl
          - build: linux-musl-arm64
            os: ubuntu-20.04
            rust: nightly
            target: aarch64-unknown-linux-musl
          - build: linux-gnu
            os: ubuntu-20.04
            rust: nightly
            target: x86_64-unknown-linux-gnu
          - build: linux-gnu-i686
            os: ubuntu-20.04
            rust: nightly
            target: i686-unknown-linux-gnu
          - build: linux-gnu-arm64
            os: ubuntu-20.04
            rust: nightly
            target: aarch64-unknown-linux-gnu
          - build: linux-arm-gnueabihf
            os: ubuntu-20.04
            rust: nightly
            target: arm-unknown-linux-gnueabihf
          - build: macos
            os: macos-latest
            rust: nightly
            target: x86_64-apple-darwin
          - build: macos-arm64
            os: macos-latest
            rust: nightly
            target: aarch64-apple-darwin
          - build: windows-msvc
            os: windows-2019
            rust: nightly
            target: x86_64-pc-windows-msvc
          - build: windows-msvc-i686
            os: windows-2019
            rust: nightly
            target: i686-pc-windows-msvc
          - build: windows-pc-gnu
            os: windows-2019
            rust: nightly-x86_64-gnu
          # - build: windows-msvc-arm64
          #   os: windows-2019
          #   rust: nightly
          #   target: aarch64-pc-windows-msvc

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        override: true

    - name: Use Cross
      if: matrix.target != ''
      run: |
        cargo install cross
        echo "CARGO=cross" >> $GITHUB_ENV
        echo "TARGET_FLAGS=--target ${{ matrix.target }}" >> $GITHUB_ENV
        echo "TARGET_DIR=./target/${{ matrix.target }}" >> $GITHUB_ENV

    - name: Cache cargo registry and git trees
      uses: Swatinem/rust-cache@v1

    - name: Show command used for Cargo
      run: |
        echo "cargo command is: ${{ env.CARGO }}"
        echo "target flag is: ${{ env.TARGET_FLAGS }}"
        echo "target dir is: ${{ env.TARGET_DIR }}"

    - name: aarch64 specific items
      if: matrix.build == 'macos-arm64'
      run: |
        # Can't run tests: cross-compiling
        echo "SKIP_TESTS=yes" >> $GITHUB_ENV

        # Use the beta compiler
        sudo xcode-select -s /Applications/Xcode_12.2.app/Contents/Developer/

        # Set SDK environment variables
        echo "SDKROOT=$(xcrun -sdk macosx11.0 --show-sdk-path)" >> $GITHUB_ENV
        echo "MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx11.0 --show-sdk-platform-version)" >> $GITHUB_ENV

    - name: Run tests
      if: env.SKIP_TESTS == ''
      run: ${{ env.CARGO }} test --verbose ${{ env.TARGET_FLAGS }}

    - name: Run build
      run: ${{ env.CARGO }} build --verbose ${{ env.TARGET_FLAGS }}

  checks:
    name: checks
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt, clippy

    - name: Check formatting
      run: |
        cargo fmt --all -- --check

    - name: Check via Clippy
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features -- -D warnings
